<h2 class="chart-title"> Mean Salary chart </h2>
<div class="chart-container"><%= line_chart @salary_data %></div>


<h2 class="chart-title"> Seniority demand comparsion </h2>
<div class="chart-container"><%= pie_chart @job_demand_data %></div>
