<h2 style="text-align: center">based on current job offers for javascript developer in Poland the most attraction job offers are in:</h2>
<h1 style="text-align: center"><%= @hihgest_salary[:city] %></h1>
<h2 style="text-align: center">The average salary for JS developer is </h2>
<h1 style="text-align: center"><%= @hihgest_salary[:salary] %></h1>
