body {
  margin: 0px;
}
.mean-section {
  background: url(https://www.tachyonstemplates.com/img/bg.png);
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  align-items: center;
  border-bottom: 7px solid black;
}
.offers-list-container{
  max-width: 1100px;
  margin: auto;
  margin-top: 2em;
}
.search-container {
  max-width: 500px;
  margin-bottom: 1em;
}